{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Multiple File Upload</title>
</head>
<body>
  <div class="container">
    <h1>Upload Multiple Files</h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
      {% csrf_token %}
      <div class="upload-section">
        <label for="fileInput" class="file-label">
          <span>Choose Files</span>
          <input type="file" id="fileInput" name="myfile" multiple>
        </label>
        <button id="uploadBtn" class="btn upload-btn" type="submit" disabled>Upload</button>
        <div class="uploading" id="uploadingSpinner">#.#</div> 
        
        <button id="clearSelectionsBtn" class="btn clear-btn">Clear Selections</button>
      </div>
    </form>
    <div class="file-list" id="fileList">
      <h2>Selected Files:</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
